@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
  scroll-behavior: smooth;
}

body {
  font-family: "Rajdhani", sans-serif;
  text-rendering: optimizeLegibility;
  line-height: 1.3;
  font-size: 1.4rem;
  font-weight: 600;
  color: #363958 !important;
}
